button.dice {
    width: 3rem;
    height:3rem;
    background-color: #ffffff;
    color: #2b283a;
    border-radius: 4px;
    filter: drop-shadow(0 2px 2px #00000026);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Karla;
    text-align: center;
    padding: 6px 15px;
    border: none;
}
button.dice.freezed {
    background-color: #59e391;
}
