footer{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color:beige;
}
footer > h3{
    font-family: Inter;
    font-weight: 500;
    font-size: 1.1rem;
}
footer >h3> a{
    color:beige;
}